.image-with-text-widget {
  width: 100%;
  padding-bottom: 50px;
  padding-top: 50px;
  border-top: 1px solid $mediumGrey;

  @include media_down($sm) {
    flex-direction: column;
    padding-bottom: 20px;
    padding-top: 20px;
  }

  h2 {
    line-height: 0.86;
    letter-spacing: 2px;
    font-size: 50px;

    @include media_down($sm) {
      font-size: 20px;
      line-height: normal;
      letter-spacing: 0.8px;
    }
  }

  iframe {
    min-height: 300px;
    width: 100%;

    @include media_down($sm) {
      margin-bottom: 30px;
      min-height: 160px;
    }
  }

  img {
    display: block;

    @include media_down($sm) {
      margin-bottom: 20px;
    }
  }

  .button {
    &:hover {
      opacity: 0.8;
    }

    @include media_down($sm) {
      font-size: 12px;
      padding: 10px 20px;
    }
  }

  .section-body {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }

  .image-right {
    flex-direction: row-reverse;

    img {
      margin-left: auto;
    }
  }

  @include media_down($md) {
    #buttonLink {
      margin: auto;
    }
  }
}
