@font-face {
  font-family: 'Avenir Next LT Pro';
  src: local('Avenir Next LT Pro Regular'), local('AvenirNextLTPro-Regular'),
      url('../fonts/AvenirNextLTPro-Regular.woff2') format('woff2'),
      url('../fonts/AvenirNextLTPro-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Avenir Next LT Pro';
  src: local('Avenir Next LT Pro Italic'), local('AvenirNextLTPro-It'),
      url('../fonts/AvenirNextLTPro-It.woff2') format('woff2'),
      url('../fonts/AvenirNextLTPro-It.woff') format('woff');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Avenir Next LT Pro Bold';
  src: local('Avenir Next LT Pro Bold'), local('AvenirNextLTPro-Bold'),
      url('../fonts/AvenirNextLTPro-Bold.woff2') format('woff2'),
      url('../fonts/AvenirNextLTPro-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'AvenirLTProMedium';
  src: url('../fonts/AvenirLTProMedium.woff2') format('woff2'),
       url('../fonts/AvenirLTProMedium.woff') format('woff'),
       url('../fonts/AvenirLTProMedium.ttf')  format('truetype');
}


@font-face {
  font-family: 'BauerBodni BT';
  src: local('Bauer Bodoni Bold Italic BT'), local('BauerBodoniBT-BoldItalic'),
      url('../fonts/BauerBodoniBT-BoldItalic.woff2') format('woff2'),
      url('../fonts/BauerBodoniBT-BoldItalic.woff') format('woff');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'BauerBodni BT';
  src: local('Bauer Bodoni Italic BT'), local('BauerBodoniBT-Italic'),
      url('../fonts/BauerBodoniBT-Italic.woff2') format('woff2'),
      url('../fonts/BauerBodoniBT-Italic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'BauerBodni BT';
  src: local('Bauer Bodoni BT'), local('BauerBodoniBT-Roman'),
      url('../fonts/BauerBodoniBT-Roman.woff2') format('woff2'),
      url('../fonts/BauerBodoniBT-Roman.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'BauerBodni BT';
  src: local('Bauer Bodoni Bold Condensed'), local('BauerBodoniBT-BoldCondensed'),
      url('../fonts/BauerBodoniBT-BoldCondensed.woff2') format('woff2'),
      url('../fonts/BauerBodoniBT-BoldCondensed.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'BauerBodni BT';
  src: local('Bauer Bodoni Bold Condensed'), local('BauerBodoniBT-BoldCondensed'),
      url('../fonts/BauerBodoniBT-BoldCondensed.woff2') format('woff2'),
      url('../fonts/BauerBodoniBT-BoldCondensed.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'AvenirNextLTPro-Medium';
  src:url('../fonts/AvenirNextLTPro-Medium.woff') format('woff'),
      url('../fonts/AvenirNextLTPro-Medium.woff2') format('woff2'),
      url('../fonts/AvenirNextLTPro-Medium.eot'),
      url('../fonts/AvenirNextLTPro-Medium.eot?#iefix') format('embedded-opentype'),
      url('../fonts/AvenirNextLTPro-Medium.otf') format('truetype');
      

}
