// fonts
$Serif: "BauerBodni BT", serif;
//$SansSerif: "Avenir Next LT Pro", sans-serif;
$SansSerif: 'AvenirNextLTPro-Medium', Arial, Helvetica, sans-serif;
$Arabic: "Assistant", sans-serif;
$AvenirBold: 'Avenir Next LT Pro Bold', Arial, Helvetica, sans-serif;
//$AvenirMed: 'AvenirLTProMedium', sans-serif;
$AvenirMed: 'AvenirNextLTPro-Medium', Arial, Helvetica, sans-serif;

// colors
$white: white;
$black: black;
$red: #EB1420;
$lightGrey: #f1f1f1;
$mediumGrey: #e4e4e4;
$darkGrey: #b9b9b9;
$darkerGrey: #767676;
$blue: #0e80a0;

// facebook colors
$fbBackground: #4561b6;
$fbBorderColor: #8295ce;


$mobile: 600px;
