.static-page-sidenav {
    position: sticky;
    top: 30px;
    margin-bottom: 20px;

    @include media_up($md) {
        max-width: 170px;
    }

    .sidenav-heading {
        padding: 10px 0;
        margin-bottom: 0px;
        text-transform: uppercase;

        @include media_down($md) {
            display: none;
        }
    }

    .faq-and-friends {
        @include padding-y(10px);
        border-top: 1px solid $mediumGrey;

        @include media_up($md) {
            border-bottom: 1px solid $mediumGrey;
        }
    }

    ul {
        list-style: none;
        margin: 0;
    }

    li.page-list-item {
        padding: 0;
        margin: 0;

        a {
            @extend .small;
            @extend .a;
            line-height: 19px;
            padding: 3px 24px 3px 7px;
            font-weight: 500;
            text-decoration: none;
            margin: 0;
            width: 100%;
            letter-spacing: 0;

            &.active-page {
                font-family: $AvenirBold;
                background-color: #e9e9e9;
            }
        }
    }

    .anchor-titles-group {
        padding: 13px 18px 15px 20px;

        li {
            margin-bottom: 9px;
            line-height: normal;
            a {
                padding: 0;
                font-family: $AvenirMed;
                font-weight: inherit;
                letter-spacing: 0;
                line-height: 16px;
                small {
                    font-family: $AvenirMed;
                    letter-spacing: 0;
                    line-height: 16px;
                    font-weight: inherit;
                }
                &.visible-on-page {
                    font-weight: bold;
                    font-family: $AvenirBold;
                }
            }
        }
    }

    .mobile-dropdown {
        display: none;
    }

    @include media_down($md) {
        .mobile-dropdown.faq-and-friends {
            display: block;
        }

        h1 {
            text-transform: uppercase;
            text-align: center;
        }

        .desktop-list {
            display: none;
        }
    }
}
